
    body{
    font-family:Helvetica, sans-serif;
    font-color:#ff7628;
    font-style:italic;
    }
    
    footer{
    	text-decoration: underline aqua;
    	font-style:bold;
    }
    
    
    
